<div class="card mt-5" *ngIf="user$ | async as user; else loading">
  <div class="card-body">
    <h3 class="card-title text-center">Gracias por registrarse!</h3>
    <div class="form-group mt-2">
      <p class="text-center">
        Hemos enviado un correo electrónico de confirmación a<strong>{{ user?.email }}</strong>
      </p>
      <p class="text-center">
        Activación de su cuenta, use el enlace para activar.
      </p>
    </div>
    <div class="form-group text-center mt-5">
      <button class="btn btn-primary" (click)="onSendEmail()">
        Reenviar verificacion email
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  Loading....
</ng-template>
