<div class="card border-primary mb-3 mt-2" >
    <div class="card-header bg-primary text-white"><strong>Tipo Construccion</strong></div>
    <div class="card-body table-responsive-md">
      <div class="my-2 text-left">
      </div>
    
      <table class="table table-bordered table-striped table-responsive-md" >
          <thead>
              <tr>
                  <th>N°</th>
                  <th class="col-sm-12">Nombre</th>
                  <th></th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            <tr>
                <td>01</td>
                <td>EN LA VIVIENDA, ¿EL MATERIAL DE CONSTRUCCIÓN PREDOMINANTE EN LAS PAREDES EXTERIORES ES DE:</td>
                <td>
                  <button type="button" name="Editar" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt"></i></button>
                </td>
                <td>
                  <button type="button" name="Eliminar" class="btn btn-danger btn-sm btn-block"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
            <tr>
              <td>02</td>
              <td>EN LA VIVIENDA, ¿EL MATERIAL DE CONSTRUCCIÓN PREDOMINANTE EN LOS TECHOS ES DE:</td>
              <td>
                <button type="button" name="Editar" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt"></i></button>
              </td>
              <td>
                <button type="button" name="Eliminar" class="btn btn-danger btn-sm btn-block"><i class="fas fa-trash-alt"></i></button>
              </td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>